<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Lista de recorrências do sistema'" [class]="'card-head-lg'" >
        <ng-container ktPortletTools>
            <button [routerLink]="['../recorrencias/add']" mat-raised-button color="primary" matTooltip="Nova recorrencia">Nova recorrência</button>
            <!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
            <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
        </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <!-- start::Body (attribute: ktPortletBody) -->
    <kt-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="form kt-margin-b-30">
            <div class="form-filtration">
                <div class="row align-items-center">
                    <div class="col-md-2 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Search user" #searchInput placeholder="Consultar">
                            <mat-hint align="start">
                                <strong>Pesquisar</strong> em todos os campos
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </div>
        <!-- end::FILTERS & GROUP ACTIONS -->

        <!-- MATERIAL TABLE | Binded to datasources -->
        <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
        <div class="mat-table__wrapper p-0">

            <mat-table #table [dataSource]="dataSource"  class="lmat-elevation-z8"
                       matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
                <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu"  (click)="edit(item)">
                            <button mat-menu-item>
                                <mat-icon>create </mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item  (click)="delete(item)">
                                <mat-icon>delete</mat-icon>
                                <span>Apagar</span>
                            </button>
                            <button mat-menu-item  (click)="view(item)">
                                <mat-icon>remove_red_eye</mat-icon>
                                <span>Visualizar</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>


        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="isLoadingResults"></mat-spinner>
            <mat-paginator [length]="resultsLength" [pageSize]="30"> </mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>


