<kt-portlet>
  <kt-portlet-header [title]="getComponentTitle()" [class]="'card-head-lg'">
    <ng-container ktPortletTools>
      <a [routerLink]="[editing ? '../../' : '../']" class="btn btn-secondary mr-2" mat-raised-button matTooltip="Voltar">
        <i class="la la-arrow-left"></i>
        <span class="hidden-mobile">Voltar</span>
      </a>

      <a href="javascript:;" class="btn btn-primary mr-2" color="primary" [ngClass]="{
            'spinner spinner-right spinner-md spinner-light': loading | async
          }" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
        <span class="hidden-mobile">Salvar</span>
      </a>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>
    <div *ngIf="indicatorSubject | async">
      <form [formGroup]="formGroup" class="form form-group-seperator-dashed">


      <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
        Preencha corretamente os campos abaixo desscritos.
      </kt-alert>

      <div class="row mb-4">
        <div class="col-sm-6 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Título do serviço" formControlName="name"/>
            <mat-error>Nome é <strong>obrigatório</strong> </mat-error>
            <mat-hint align="start">Digite seu   <strong>Nome</strong> </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-6 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Valor</mat-label>
            <input matInput currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" formControlName="price"/>
            <mat-error>Valor é <strong>obrigatório</strong> </mat-error>
            <mat-hint align="start">Digite o <strong>Valor</strong> </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-sm-3 kt-margin-bottom-20-mobile">

          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="service_category_id"  placeholder="Categoria" >
              <mat-option *ngFor="let col of orders" [value]="col.id">
                {{ col.name }}
              </mat-option>
            </mat-select>
            <mat-error>
              Categoria <strong>é um campo obrigatório</strong>
            </mat-error>
            <mat-hint align="start">Digite uma <strong>categoria</strong>
            </mat-hint>
          </mat-form-field>

        </div>
        <div class="col-sm-3 kt-margin-bottom-20-mobile">

          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Tipo de serviço</mat-label>
            <mat-select formControlName="service_type_id"  placeholder="Tipo de serviço" >
              <mat-option *ngFor="let col of types" [value]="col.id">
                {{ col.name }}
              </mat-option>
            </mat-select>
            <mat-error>
              Tipo de serviço <strong>é um campo obrigatório</strong>
            </mat-error>
            <mat-hint align="start">Escolha um <strong>tipo de serviço</strong>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="fill" >
            <mat-label>Intervalo</mat-label>
            <mat-select formControlName="recurrence_id"  placeholder="Recorrência" >
              <mat-option *ngFor="let col of recurrences" [value]="col.id">
                {{ col.name }}
              </mat-option>
            </mat-select>
            <mat-error>
              Recorrência <strong>é um campo obrigatório</strong>
            </mat-error>
            <mat-hint align="start">Escolha uma <strong>Recorrência</strong>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="fill" >
            <mat-label>Status</mat-label>
            <mat-select formControlName="active"  placeholder="Status" >
              <mat-option *ngFor="let col of active" [value]="col.id">
                {{ col.title }}
              </mat-option>
            </mat-select>
            <mat-error>
              Status <strong>é um campo obrigatório</strong>
            </mat-error>
            <mat-hint align="start">Selecione um <strong>status</strong>
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-12 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Observação</mat-label>
            <textarea formControlName="observation" matInput placeholder="Observação"></textarea>
            <mat-error>Observação é <strong>obrigatório</strong> </mat-error>
            <mat-hint align="start">Digite uma  <strong>observação</strong> </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>
    </div>
  </kt-portlet-body>
</kt-portlet>
