<kt-portlet>
    <kt-portlet-header [title]="'Visualizar detalhes'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            <a (click) ="closeDialog()" class="btn btn-secondary mr-2" mat-raised-button matTooltip="Fechar">
                <i class="la la-arrow-left"></i>
                <span class="hidden-mobile">Fechar</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>

        <mat-card>
            <mat-card-title>DADOS PESSOAIS</mat-card-title>
            <div class="row mb-4">
                <div class="col-sm-4">Nome:</div>
                <div class="col-sm-8">{{dialogContent['name']}}</div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-4">email:</div>
                <div class="col-sm-8">{{dialogContent['email']}}</div>
            </div>

            <div class="row mb-4" *ngIf="dialogContent['fantasy']">
                <div class="col-sm-4">Nome Fantasia:</div>
                <div class="col-sm-8">{{dialogContent['fantasy']}}</div>
            </div>

            <div class="row mb-4" *ngIf="dialogContent['cpf']">
                <div class="col-sm-4">CPF:</div>
                <div class="col-sm-8">{{dialogContent['cpf']}}</div>
            </div>

            <div class="row mb-4" *ngIf="dialogContent['cnpj']">
                <div class="col-sm-4">CNPJ:</div>
                <div class="col-sm-8">{{dialogContent['cnpj']}}</div>
            </div>

            <div class="row mb-4" *ngIf="dialogContent['ie']">
                <div class="col-sm-4">Inscrição Estadual:</div>
                <div class="col-sm-8">{{dialogContent['ie']}}</div>
            </div>

            <div class="row mb-4" *ngIf="dialogContent['im']">
                <div class="col-sm-4">Inscrição Municipal:</div>
                <div class="col-sm-8">{{dialogContent['im']}}</div>
            </div>
        </mat-card>

        <mat-card>
            <mat-card-title>ENDEREÇOS</mat-card-title>
            <div class="row mb-4" *ngIf="dialogContent['address'][0]['address']">
                <div class="col-sm-4">Endereço:</div>
                <div class="col-sm-8">
                    {{ dialogContent['address'][0]['address'] }}, {{ dialogContent['address'][0]['number'] }}
                </div>
            </div>
        </mat-card>

        <mat-card>
            <mat-card-title>TELEFONES</mat-card-title>
            <div class="row mb-4" *ngFor="let phone of dialogContent['phones']">
                <div class="col-sm-4">Telefone:</div>
                <div class="col-sm-8">
                    {{ phone.phone }}
                </div>
            </div>
        </mat-card>

    </kt-portlet-body>
</kt-portlet>
